[alias]
  lol = log --oneline --graph --decorate
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
[diff]
  mnemonicprefix = true
[diff "vimdiff"]
  command = git-vimdiff
[format]
  pretty = format:%C(yellow)%h%C(reset) %C(green)%cr%C(reset) %C(blue)%cn%C(reset) %s
[merge]
  stat = true
[user]
  name = Chris Bracken
  email = chris@bracken.jp
