[diff "vimdiff"]
  command = git-vimdiff
[color]
  ui = auto
[format]
  pretty = format:%C(yellow)%h%C(reset) %C(green)%cr%C(reset) %C(blue)%cn%C(reset) %s
[user]
	name = Chris Bracken
[alias]
	lol = log --oneline --graph --decorate
[diff]
	mnemonicprefix = true
[merge]
	stat = true
