[alias]
  lol = log --oneline --decorate
  lola = log --pretty=format:'%C(yellow)%h%C(reset) %C(green)%cr%C(reset) %C(blue)%cn%C(reset) %d %s'
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
[diff]
  mnemonicprefix = true
[diff "vimdiff"]
  command = git-vimdiff
[merge]
  stat = true
[push]
  default = simple
[user]
  name = Chris Bracken
  email = chris@bracken.jp
