settings set -g target.inline-breakpoint-strategy always
settings set target.x86-disassembly-flavor intel
settings set target.source-map "flutter/" "/Users/chris/Developer/flutter/flutter/engine/src/flutter/"
