# Ignore files that contain one or more of the following types of data:
# - machine-specific configuration
# - local cached data that belongs in XDG_CACHE_HOME (e.g. last window size)

Signal
chromium

# gitk viewer (cached data)
git/gitk

# Linux/GTK look and feel (machine-specific)
dconf
glib-2.0
gtk-3.0
pulse

# IME-related (machine-specific, cached data)
fcitx
fcitx5/conf/cached_layouts
ibus
mozc

# Flutter SDK (machine-specific)
flutter
tool_state
